@font-face {
  font-family: 'Roboto';
  src: local("Roboto"),
    url('./fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto Thin';
  src: local("Roboto Thin"),
    url('./fonts/Roboto-Thin.ttf')
}

@font-face {
  font-family: 'Roboto Light';
  src: local("Roboto Light"),
    url('./fonts/Roboto-Light.ttf')
}

.progress-bar {
  height: 100%;
  background-color: #1ed760;
  border-radius: 20px;
}

.audio-progress-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 25px;
  margin-bottom: 20px;
}

.audio-progress-bar {
  width: 75%;
  height: 10px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  position: relative;
  border-radius: 20px;
  margin-inline: 10px;
}

.progress-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.album {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70vh;
  filter: saturate(130%) drop-shadow(0 0 10px rgba(255, 255, 255, 0.605));
}

@media screen and (max-height: 700px) {
  .album {
    height: 60vh;
  }
}

@media screen and (max-height: 660px) {
  .album {
    height: 40vh;
  }
}

.albumcover {
  max-width: 85%;
  max-height: 85%;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Roboto Light";
  margin-bottom: 20px;
}

.info p {
  font-size: medium;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 20px;
  margin-bottom: 5px;
}

.info .songtitle {
  font-family: 'Roboto';
  color:white;
  background-color: transparent;
  border: none;
  font-size: large;
  font-weight: bold;
}

.info {
  align-items: left;
  text-align: left;
}

.titlebtn:hover {
  text-decoration: underline;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.credits {
  color: white;
  font-weight: 500;
  font-size: large;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Roboto Thin';
}

.title {
  font-size: 12vmin;
  padding-bottom: 10%;
}

.desc {
  font-size: 6vmin;
}

.nologincontent {
  color: white;
  font-family: 'Roboto Thin';
  text-align: center;
  padding-right: 4%;
}

body {
  /* background-image: linear-gradient(-45deg, #000, #000, #000, #000, #000, #000, #98843d, #000, #000, #000, #000, #000, #000, #000); */
  background-image: radial-gradient(rgb(49, 49, 49), black, black, black);
  /* background-size: 400% 400%; */
  background-size: 300% 200%;
  /* animation: gradient 15s infinite; */
  background-position: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  overflow: hidden;
  backdrop-filter: blur(20px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.tabbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  color: white;
  user-select: none;
}

.footer {
  text-align: center;
  user-select: none;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  user-select: none;
}

.tabbarspaces {
  padding-top: 1px;
  text-align: center;
  color: white;
}

.icon {
  color: black;
}

.active {
  background-color: rgba(0, 0, 0, 0.532);
  border-radius: 360px;
}

.logo {
  min-width: 270px;
  width: 70vmin;
  filter: drop-shadow(0px 0px 1px #ffffff);
}

.SpotifyBtn {
  max-width: 290px;
  align-content: center;
  display: flex;
  height: 80px;
  filter: drop-shadow(0px 8px 8px #000);
}

.container {
  color: white;
  backdrop-filter: blur(0px);
  height: 100vh;
}

.miscoption {
  font-size: x-large;
  padding-right: 5px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.seperator {
  padding-inline: 4px;
}

.smallseperator {
  padding-inline: 2px;
}

.select {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2px;
}

.select:hover {
  filter: brightness(60%);
}

.controlbtn {
  background: transparent;
  border: none;
  font-size: xx-large;
  padding-inline: 2.5vmin;
}

.controlbtn:hover {
  filter: brightness(60%)
}

.controlbtn:active {
  filter: brightness(20%)
}

.installbtn {
  border: none;
  margin-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 300px;
  background-color: #6f6e6e;
  height: 50px;
  width: 200px;
  color: white;
  font-size: larger;
  font-weight: bold;
  filter: drop-shadow(0px 8px 8px #000);
  margin-bottom: 20px;
}

.modal {
  font-size: 11px;
  background-image: radial-gradient(rgb(31, 31, 31), rgb(16, 16, 16), black);
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal>.header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.commandcontent {
  width: 100%;
  max-height: 20vh;
  padding-right: 10px;
  text-align: left;
}

.modal>.lyricscontent {
  width: 100%;
  max-height: 60vh;
  padding-right: 10px;
  text-align: left;
  overflow-y: scroll;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -5px;
  top: -5px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  margin-top: 5%;
  margin-bottom: 5%;
}

.popupbtn {
  margin-top: 20px;
  border: none;
  border-radius: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 25px;
  text-align: center;
  width: 100px;
  color: white;
  font-weight: bold;
}

.popupbtn:hover {
  filter: brightness(60%);
}

.popupbtn:active {
  filter: brightness(20%);
}

@keyframes anvil {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}